.sugar-button {
  border: 0;
  outline: none;
  width: 100px;
  height: 30px;
  border-radius: 3px;
  background-color: #4faee8;
  color: #fff;
}


.sugar-button:hover {
  background-color: rgba(79, 174, 232, 0.85);
}

.sugar-input {
  border: 1px solid #ccc;
  width: 200px;
  height: 30px;
  outline: none;
  padding-left: 10px;
}


.sugar-select {
  margin-top: 10px;
  border: 1px solid #ccc;
  width: 200px;
  height: 30px;
  outline: none;
  cursor: pointer;
  padding-left: 10px;
}


.sugar-select-options-box {
  position: absolute;
  background: white;
  margin-top: 8px;
  border-radius: 2px;
  border: 1px solid #ccc;
  border-bottom: 0;
}

.sugar-option {
  width: calc(100% - 20px);
  padding: 5px 10px;
  border-bottom: 1px solid #ccc;
}

.sugar-dialog-mode {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  top: 0;
  left: 0;
  transition: opacity 0.3s linear;
}

.sugar-dialog {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: transform 0.3s linear;

}

.sugar-checkbox-container {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.sugar-checked {
  width: 30px;
  height: 30px;
  background: #ccc;
}

.sugar-pagination {
  font-size: 14px;
}

.sugar-pagination__items {
  display: flex;
  justify-content: center;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.sugar-pagination__item {
  width: 2rem;
  min-width: 2rem;
  height: 2rem;
  flex: none;
  background: #F5F5F5;
  border-radius: 3px 3px 3px 3px;
  margin: 0 0.25rem;
  color: #686868;
  border: none;
  opacity: 1;
  font-size: 0.75rem;
  list-style: none !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.sugar-pagination__item--active {
  background: #FB4E4E !important;
  color: #fff !important;
}

.sugar-pagination__item button {
  flex: 1;
  height: 100%;
  border: none;
  padding: 0;
  background: transparent;
  font: inherit;
  color: inherit;
  outline: none;
}

.right_arrow {
  transform: rotate(180deg);
}

.sugar-pagination__item svg {
  width: 30%;
  height: 30%;
}

.sugar-text {
  white-space: pre-line;
  font-size: 14px;
  color: #333;
  position: relative;
}

.sugar-arrow {
  position: absolute;
  right: 0;
  bottom: 0;
  background: #fff;
  padding-left: 10px;
}

.sugar-arrow > div {
  transition: .3s;
}

.sugar-arrow .open {
  transform: rotate(180deg);
}

.sugar-arrow svg {
  width: 16px;
  height: 16px;
  display: block;
}

.sugar-text__ellipsis {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.sugar-toast {
  z-index: 999999999999;
  position: fixed;
  width: auto;
  height: auto;
  max-width: 250px;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  color: white;
  line-height: 25px;
  padding: 5px 10px;
  font-size: 15px;
  transition: 0.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sugar-message-box {
  padding: 1px;
  background: #fff;
  border-radius: 10px;
  width: 80vw;
  overflow: hidden;
  max-width: 320px;
}

.sugar-message-title {
  color: #323233;
  padding-top: 26px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.sugar-message-toolbar {
  user-select: none;
  display: flex;
  overflow: hidden;
}

.sugar-message-box-btn {
  height: 48px;
  border-radius: 0;
  flex: 1;
  margin: 0;
  width: 100%;
  color: #323232;
  background: #fff;
  cursor: pointer;
  transition: opacity .2s;
  justify-content: center;
  align-items: center;
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  border: 1px solid #dcdee0;
  border-right: none;
  border-bottom: none;
}

.sugar-message-box-btn:first-child {
  border-right: none;
  border-left: none;
}

.sugar-message-box-confirm {
  color: #1989fa;
}

.sugar-message-box-btn:before {
  background: #000;
  border: inherit;
  border-color: #000;
  border-radius: inherit;
  opacity: 0;
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sugar-message-box-content {
  color: #646566;
  max-height: 60vh;
  padding: 8px 24px 26px;
  font-size: 14px;
  line-height: 20px;
  white-space: pre-wrap;
  text-align: center;
  word-wrap: break-word;
  -webkit-overflow-scrolling: touch;
  flex: 1;
  overflow-y: auto;
}

.sugar-back-top {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #1989fa;
  position: fixed;
  right: 20px;
  bottom: 100px;
  z-index: 999;
  cursor: pointer;
  transition: all .2s;
  transform: scale(0);
  box-shadow: 0 2px 8px rgba(0, 0, 0, .12);
}

.sugar-back-top svg {
  margin-top: 3px;
  width: 22px;
  height: 22px;
}

.sugar-swiper {
  cursor: grab;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  overflow: hidden;
  transform: translateZ(0);
}

.sugar-swiper-wrapper {
  height: 100%;
  transition-property: transform;
  display: flex;
}

.sugar-swiper-item {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.sugar-field{
  display: flex;
  align-items: center;
  height: 44px;
  padding:0 10px;
  box-sizing: border-box;
}

.sugar-field-label{
  white-space: nowrap;
  font-size: 15px;
  color:#333;
}

.sugar-field-input{
  outline: none;
  border:none;
  text-decoration: none;
  padding-left: 0;
  margin-left: 10px;
  font-size: 15px;
}

.sugar-picker_container{

}